.weather-container{
 width: 70%;
 background-color: rgba(201, 220, 230, 0.946);
 height: 200px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 20px;
 box-shadow: 4px 5px 23px 7px rgba(127,127,127,0.7);
 color: rgb(88, 88, 88);
 margin: auto;
}

.weather-stats *{
 padding: 10px;
}

.weather-stats{
 display: flex;
 justify-content: center;

}

.weather-container > p{
 font-size: 26px;
 margin-top: 20px;
}

.icon {
 -webkit-animation: mover 1s infinite  alternate;
 animation: mover 1s infinite  alternate;
}
.icon {
 -webkit-animation: mover 1s infinite  alternate;
 animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
 0% { transform: translateY(0); }
 100% { transform: translateY(-10px); }
}
@keyframes mover {
 0% { transform: translateY(0); }
 100% { transform: translateY(-10px); }
}
