@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(../../img/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Abel', sans-serif;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px;
}

.App > h1{
  color: white;
  letter-spacing: 2px;
}

.app-input{
margin-top: 20px;
}

.app-input > form > input{
  padding: 10px;
  outline: none;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  color: rgba(92, 90, 90, 0.76);
  background-color: white;
}